.product-crud-card-container {
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.product-crud-card-image-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.product-crud-card-image-container img {
  height: 100%;
  max-height: 160px;
}

.product-crud-card-details-container {
  text-align: left;
  padding: 15px;
}

.product-crud-card-details-container h6 {
  font-size: 18px;
  font-weight: 700;
  color: #263238;
  padding-bottom: 5px;
}

.product-crud-card-categories-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.product-crud-card-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.product-crud-card-button {
  width: 45%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.015em;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .product-crud-card-container {
    display: flex;
    min-height: 160px;
    padding-bottom: 0;
  }

  .product-crud-card-image-container {
    padding: 25px;
    border-bottom: unset;
    border-right: 1px solid #e1e1e1;
  }

  .product-crud-card-details-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
  }

  .product-crud-card-categories-container {
    margin-top: 10px;
  }

  .product-crud-card-buttons-container {
    max-width: 180px;
    flex-direction: column-reverse;
  }

  .product-crud-card-button {
    text-transform: uppercase;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .product-crud-card-buttons-container {
    max-width: 220px;
  }
}
