.category-badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;

  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #424242;
 
  background: #c4c4c4;
  border-radius: 10px;
  padding: 0 8px;
  margin-top: 10px;
  margin-right: 10px;
}
